<tr [pEditableRow]="product">
    <td>
        <p-tableCheckbox [value]="product"></p-tableCheckbox>
    </td>
    <td>
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.code">
            </ng-template>
            <ng-template pTemplate="output">
                {{product.code}}
            </ng-template>
        </p-cellEditor>
    </td>
    <td>
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.name" required>
            </ng-template>
            <ng-template pTemplate="output">
                {{product.name}}
            </ng-template>
        </p-cellEditor>
    </td>
    <td>
        <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            <button pButton pRipple icon="pi pi-trash" type="button" (click)="deleteProduct(product)"></button>
        </div>
    </td>
</tr>